#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22


session:
	expiration: 14 days


dibi:
	driver: mysqli
	host: 127.0.0.1
	username: root
	password:
	database: super-foo


services:
	- App\Model\UserManager
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory
	router: App\Router\RouterFactory::createRouter
	- App\Authentication\UserAuthenticator
	- App\Authentication\IdentityFactory
	- App\User\UserDataProvider
